@font-face {
    font-family: "figtree extrabold";
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
  }

@font-face {
    font-family: "figtree semibold" ;
    src: url(./assets/fonts/static/Figtree-SemiBold.ttf);
}

@font-face {
    font-family: "figtree";
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf) ;
}

:root {
    --clr-yellow: #F4D04E ;
    --clr-gray950: #111111 ;
    --clr-gray500: #686868 ; 
  }
  
  /* reset */
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* styles */

  body {
    position: relative ;
    background-color: var(--clr-yellow);
  }













.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }