@font-face {
    font-family: "figtree extrabold";
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
  }

@font-face {
    font-family: "figtree semibold" ;
    src: url(./assets/fonts/static/Figtree-SemiBold.ttf);
}

@font-face {
    font-family: "figtree";
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf) ;
}

:root {
    --clr-yellow: #F4D04E ;
    --clr-gray950: #111111 ;
    --clr-gray500: #686868 ; 
  }
  
  /* reset */
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* styles */

  body {
    position: relative ;
    background-color: var(--clr-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    
  }

  main {
    width: 327px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 8px 8px 0 0 black;
    border: 1px solid black
  }

  .card {
    padding:24px;
  }

  .card img {
    border-radius: 20px;
  }

  .card__category {
    background-color: var(--clr-yellow);
    width: fit-content;
    padding: 12px;
    font-size: 12px;
    font-family: "figtree extrabold" , sans-serif ;
    border-radius: 4px;
    color: var(--clr-gray950);
  }

  .card__time {
    font-family: "figtree semibold" , sans-serif;
    font-size: 12px;
  }

  .card__title {
    font-family: "figtree extrabold" , sans-serif;
    font-size: 20px;
    color: var(--clr-gray950);

  }

  .card p:nth-of-type(3) {
    font-family: "figtree semibold" , sans-serif;
    font-size: 14px;
    color: var(--clr-gray500);
  }

  .flex-group {
    display: flex;
    align-items: center;
  }

  .card h3 {
    font-family: "figtree extrabold" , sans-serif;
    font-size: 14px;
    color: var(--clr-gray950);
  }













.attribution { 
  font-size: 11px; 
  text-align: center;
  position: absolute; 
  bottom: 30px;
  left:0;
  right:0;
 }

.attribution a {
  color: hsl(228, 45%, 44%);
}